<!doctype html>
<html>
<head>
<!--- The site is designed by zkx,Inc 12/2016 --->
<meta charset="utf-8">
<title>开服中心-梦想游戏-网页游戏平台</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="网页游戏，页游平台，页游，H5游戏，新开页游，页游礼包，梦想游戏平台，游戏平台">
<meta name="description" content="梦想游戏平台作为知名的高品质网页游戏平台，一直坚持为广大玩家提供优质的精品网页游戏，致力创造一流的游戏娱乐平台。">
<meta name="author" content="kxin">
<!-- 初始化样式表-->
<link href="/static/home/css/layout.css" rel="stylesheet" type="text/css">
<link href="/static/home/vender/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Swiper's CSS -->
<link rel="stylesheet" href="/static/home/vender/swiper/css/swiper.min.css">
<!-- BootStrap样式 -->
<link rel="stylesheet" href="/static/home/vender/bootstrap-3.3.7/css/bootstrap.css">
<!-- 页面公有样式-->
<link href="/static/home/css/common.css" rel="stylesheet" type="text/css">
<!-- 页面私有样式-->
<link href="/static/home/css/kaifu.css" rel="stylesheet" type="text/css">
<!--百度云统计代码-->
{load href="/static/home/js/tongji.js" /}
</head>
	
<body>


{include file="public/header" /}

<div class="banner_game"><img src="/static/home/images/default/game_banner.jpg"></div>

<div class="content">
	<div class="cont">
		<div class="mod clearfix">
			<div class="mod-kaifulist fl">
				<div class="mod-tit">
					<div class="titlename">
						<i class="icon pngfix"></i>
						<span>今日网页游戏开服表</span>
					</div>
					<!-- <a href="#" target="_blank" class="more fr">更多 +</a> -->
				</div>

				<div class="kaifu-list-view">
				    <!--游戏列表-->
				    <div class="kaifu_list clearfix">
				        <table class="kaifu-table">
							<thead>
								<tr> 
									<td>游戏名称</td> 
									<td>区服</td> 
									<td>题材</td> 
									<td>日期</td> 
									<td>时间</td> 
									<!-- <td>运营商</td>  -->
									<td>礼包</td> 
									<td>快捷操作</td> 
									<td>开服状态</td> 
								</tr>
							</thead>
							<tbody>
								<!-- 
									<tr>
										<td><a href="#" target="_blank">神戒</a></td>
										<td><a href="#" target="_blank">公测858区</a></td>
										<td><a href="#" target="_blank">角色扮演</a></td>
										<td>01-08</td>
										<td>15:00</td>
										<td>9377</td>
										<td><a href="#" target="_blank">领取礼包</a></td>
										<td><a href="#" target="_blank" class="go">开始游戏</a></td>
										<td>  火爆开启中 </td>
									</tr>
									<tr>
										<td><a href="#" target="_blank">神戒</a></td>
										<td><a href="#" target="_blank">公测858区</a></td>
										<td><a href="#" target="_blank">角色扮演</a></td>
										<td>01-08</td>
										<td>15:00</td>
										<td>9377</td>
										<td><a href="#" target="_blank">领取礼包</a></td>
										<td><a href="#" target="_blank" class="go">开始游戏</a></td>
										<td>  火爆开启中 </td>
									</tr>
									<tr>
										<td><a href="#" target="_blank">神戒</a></td>
										<td><a href="#" target="_blank">公测858区</a></td>
										<td><a href="#" target="_blank">角色扮演</a></td>
										<td>01-08</td>
										<td>15:00</td>
										<td>9377</td>
										<td><a href="#" target="_blank">领取礼包</a></td>
										<td><a href="#" target="_blank" class="go">开始游戏</a></td>
										<td>  火爆开启中 </td>
									</tr>
								 -->
							</tbody>	
						</table>	


				        <div class="paging">
				        	<!-- <a href="javascript:;" data-index="1">首页</a>
				            <a href="javascript:;" data-index="3">上一页</a>
				            <a href="javascript:;" data-index="5" class="cur">1</a>
				            <a href="javascript:;" data-index="6" class="">2</a>
				            <a href="javascript:;" data-index="7" class="">3</a>
				            <a href="javascript:;" data-index="8" class="">4</a>
				            <a href="javascript:;" data-index="9" class="">5</a>
				            <a href="javascript:;" data-index="10" class="">6</a>
				            <a href="javascript:;" data-index="4">下一页</a>
				            <a href="javascript:;" data-index="2">尾页</a> -->
				        </div>
				    </div>
				</div>
			</div>
		</div>

	</div>	

</div>

{include file='public/footer' /}


<!-- jquery引用方式--> 
<script src="/static/home/js/jquery-1.9.1.min.js"></script>

<!-- 公共js --> 
<script src="/static/home/js/common.js"></script>
<!-- 弹出层 -->
<script src="/static/admin/vendor/layer/layer.js"></script>
<script src="/static/admin/js/config/layer-config.js"></script>
<!-- 页面私有js --> 
<script src="/static/home/js/kaifu.js"></script>

</body>
</html>



