<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>页游-后台管理系统</title>
    <link rel="stylesheet" href="/static/admin/vendor/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/admin/css/styles.css">
    <link rel="stylesheet" href="/static/admin/css/sdk.css">
    <!-- 页面独有样式 -->
    <link rel="stylesheet" href="/static/admin/css/sdk.css">
</head>
<body>
<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">

            	<form onsubmit="return false;">
            		{{ .xsrfdata }}
	                <div class="card p-4">
	                    <div class="card-header text-center text-uppercase h4 font-weight-light">
	                        登录
	                    </div>
	                    <div class="card-body py-5">
	                        <div class="form-group">
	                            <label class="form-control-label">账号</label>
	                            <input type="username" name="username" value="admin" class="form-control">
	                        </div>

	                        <div class="form-group">
	                            <label class="form-control-label">密码</label>
	                            <input type="password" name="password" value="123456" class="form-control">
	                        </div>
	                    </div>

	                    <div class="card-footer">
	                        <div class="row">
	                            <div class="col-6">
	                                <button type="button" class="btn btn-primary px-5 logbtn" id="logbtn">登录</button>
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</form>

            </div>
        </div>
    </div>
</div>

<script src="/static/admin/vendor/jquery/jquery-3.4.1.min.js"></script>
<script src="/static/admin/vendor/popper.js/popper.min.js"></script>
<script src="/static/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/admin/js/carbon.js"></script>
<script src="/static/admin/js/demo.js"></script>
<!-- 页面配置项 -->
<script src="/static/admin/js/config/config.js"></script>
<!-- 页面公有 -->
<script src="/static/admin/js/sdk.js"></script>

<script>
	$("#logbtn").click(function () {
		var username = $("input[name='username']").val()
		var password = $("input[name='password']").val()
		var xsrf = $("input[name='_xsrf']").val()
		$.ajax({
			url:"/admin/login",
			datatype:"json",
			type:"post",
			data:{"username":username,"password":password,"_xsrf":xsrf},
			success:function (a) {
				if (a.Code == 200) {
					window.location.href="/admin/index.html"
				} else {
					alert(a.Info)
				}
			}
		})
	})
</script>
</body>
</html>
