<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>网游登录</title>
</head>
<body>
	<form action="/Login/checklogin" method='post'>
		{:token()}
		<input type="text" name="username"><br>
		<input type="password" name="password"><br>
		<input type="submit" value="提交">
	</form>
</body>
</html> -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>页游-后台管理系统</title>
    <link rel="stylesheet" href="/static/admin/vendor/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/admin/css/styles.css">
    <link rel="stylesheet" href="/static/admin/css/sdk.css">
    <!-- 页面独有样式 -->
    <link rel="stylesheet" href="/static/admin/css/sdk.css">
</head>
<body>
<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">

            	<form action="/Login/checklogin" method='post'>
            		{:token()}
	                <div class="card p-4">
	                    <div class="card-header text-center text-uppercase h4 font-weight-light">
	                        登录
	                    </div>

	                    <div class="card-body py-5">
	                        <div class="form-group">
	                            <label class="form-control-label">账号</label>
	                            <input type="username" name="username" class="form-control">
	                        </div>

	                        <div class="form-group">
	                            <label class="form-control-label">密码</label>
	                            <input type="password" name="password" class="form-control">
	                        </div>
	                    </div>

	                    <div class="card-footer">
	                        <div class="row">
	                            <div class="col-6">
	                                <button type="submit" class="btn btn-primary px-5 logbtn" id="logbtn">登录</button>
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</form>

            </div>
        </div>
    </div>
</div>

<script src="/static/admin/vendor/jquery/jquery-3.4.1.min.js"></script>
<script src="/static/admin/vendor/popper.js/popper.min.js"></script>
<script src="/static/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/admin/js/carbon.js"></script>
<script src="/static/admin/js/demo.js"></script>
<!-- 页面配置项 -->
<script src="/static/admin/js/config/config.js"></script>
<!-- 页面公有 -->
<script src="/static/admin/js/sdk.js"></script>

</body>
</html>
