<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table align="center">
        <tr>
            <td>ID</td>
            <td>Uname</td>
            <td>Company</td>
            <td>Duty</td>
            <td>Mobile</td>
        </tr>
        {{range .Cemats}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Uname}}</td>
            <td>{{.Company}}</td>
            <td>{{.Duty}}</td>
            <td>{{.Mobile}}</td>
        <tr>
        {{end}}
        <tr>
            <td colspan="5" align="center">总共{{.Count}}条数据</td>
        </tr>
    </table>
</body>
</html>