<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{if .UserName}}
        hello,{{.UserName | html}}<br>
    {{else}}
        无内容<br>
    {{end}} 
    {{range .Emails}}
        an email {{.}} !<br>
    {{end}}
    {{with .Friends}}
        {{range .}}
            my friend name is {{.Fname}} !<br>
        {{end}}
    {{end}}
    {{with $x := "adc" | printf "%v\n"}} {{$x}} {{end}}
    {{with $x := "ADC"}} {{printf "%s" $x}} {{end}}
    {{with $x := "top"}} {{$x | printf "%v"}} {{end}}
</body>
</html>