<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>直播-后台管理系统-修改标签</title>
    <!-- 页面公有样式 -->    
    <link rel="stylesheet" href="/static/admin/vendor/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/admin/css/styles.css">
    <link rel="stylesheet" href="/static/admin/css/sdk.css">    
</head>
<body>
<div class="page-wrapper">
    <div class="content layer-content">
        <div class="container-fluid">
                <!-- <div class="card-header bg-light">
                    创建经纪人
                </div> -->
            <form action='/Tag/tagedit' method='post'>
                <div class="card-body p-4">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">标签等级</label>
                                        <select class="form-control" id="gtag" name='degree' disabled>
                                            <option value="1">一级标签</option>
                                            <option value="2" selected>二级标签</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type='hidden' name='id' value='{$id}'>
                                        <label class="form-control-label">父级标签</label>
                                        <select class="form-control" id="ptag" disabled>
                                            <?php if (empty($tags)) { ?>
                                                <option >暂无标签!</option>
                                            <?php }else{ ?>
                                                {foreach $tags['tag1'] as $v1}
                                                {if condition = "$v1.id eq $pid"}
                                                <option name='pid' value="{$v1.id}" selected>{$v1.tag_name}</option>
                                                {else /}
                                                <option name='pid' value="{$v1.id}">{$v1.tag_name}</option>
                                                {/if}
                                                {/foreach}
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">标签名称</label>
                                        <input type="text" class="form-control" name='tag_name' value='{$tag_name}' id="tagname">
                                    </div>
                                </div>
                            </div>

                            

                        </div>
                    </div>
                </div>

                <div class="card-footer bg-light px-4 text-left">
                    <button type="submit" class="btn btn-rounded btn-primary py-2 px-5" id="sub">确认修改</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/static/admin/vendor/jquery/jquery-3.4.1.min.js"></script>
<script src="/static/admin/vendor/popper.js/popper.min.js"></script>
<script src="/static/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/admin/js/carbon.js"></script>
<script src="/static/admin/js/demo.js"></script>
<!-- 页面外部调用JS -->

<!-- 页面配置项 -->
<script src="/static/admin/js/config/config.js"></script>
<!-- 页面公有 -->
<script src="/static/admin/js/sdk.js"></script>
<!-- 页面私有 -->
<script type="text/javascript">
    // var id ;
    // var pid ;
    // var pname ;
    $(function(){

        $("#gtag").change(function(){
            var gtagVal = $("#gtag option:selected").val();
            if(gtagVal == '2'){
                
                $("#ptag").removeAttr("disabled");

            }
        });

       

    })



</script>


</body>
</html>
