<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>游戏-后台管理系统-资料上传</title>
    <!-- 页面公有样式 -->    
    <link rel="stylesheet" href="/static/admin/vendor/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/admin/css/styles.css">
    <link rel="stylesheet" href="/static/admin/css/sdk.css">
        <!-- 图片上传 -->
    <link rel="stylesheet" href="/static/admin/vendor/upload/upload-single/css/upload-single.css" />   
    <link rel="stylesheet" href="/static/admin/vendor/upload/upload-multi/css/upload-multi.css" />   
</head>
<body>
<div class="page-wrapper">
    <!-- 头部引入 开始 -->  
    {include file="public/header" /}
    <!-- 头部引入 结束 -->

    <div class="main-container">
        <!-- 侧导航引入 开始 --> 
        {include file="public/sidebar" /}
        <!-- 侧导航引入 结束 -->

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-light">
                                添加礼包
                            </div>
                            <form action='/Gift/giftadd' method='post' enctype='multipart/form-data'>
                                <div class="card-body p-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label">游戏名称</label>

                                                        <select class="form-control" name='gameinfo' id="guipla">
                                                            <?php if (empty($gamelist)) { ?>
                                                                <option>暂无游戏!</option>
                                                            <?php }else{ ?>
                                                                {foreach $gamelist as $v}
                                                                <option value="{$v.gid},{$v.app_name}">{$v.app_name}</option>
                                                                {/foreach}
                                                            <?php } ?>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label">礼包名称</label>
                                                        <input type="text" class="form-control" name='giftname' id="curname">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label">礼包码</label>
                                                        <div class="input-group">
                                                            <input type="text" id="txt" name="txt" class="form-control" value="文件" disabled="disabled" />
                                                            <div class="input-group-append">
                                                                <input type="button" value="选择文件" size="30" onClick="f.click()" class="px-4 uploadbtn">
                                                            </div>
                                                            <input type="file" id="f" onChange="txt.value=this.value" name="giftcode" class="re_fi"  size="1" hidefocus>
                                                        </div>
                                                        <small class="form-text">请上传txt格式的文件</small>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label">礼包选择</label>
                                                        <select class="form-control" id="guipla" name='gifttag'>
                                                            <?php if (empty($taglist)) { ?>
                                                                <option>暂无标签!</option>
                                                            <?php }else{ ?>
                                                                {foreach $taglist as $v}
                                                                <option value="{$v.tag_name}">{$v.tag_name}</option>
                                                                {/foreach}
                                                            <?php } ?>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label">礼包内容</label>
                                                        <textarea class="form-control" name='content'></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label">使用方法</label>
                                                        <input type="text" class="form-control" name='method' id="curname">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                
                                <div class="card-footer px-4 text-left">
                                    <button type="submit" class="btn btn-primary px-4" id="sub">确认提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script src="/static/admin/vendor/jquery/jquery-3.4.1.min.js"></script>
<script src="/static/admin/vendor/popper.js/popper.min.js"></script>
<script src="/static/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/admin/js/carbon.js"></script>
<script src="/static/admin/js/demo.js"></script>
<!-- 页面外部调用JS -->
    <!-- 图片上传 -->
<script src="/static/admin/vendor/upload/upload-single/js/upload-single.js"></script>
<script src="/static/admin/vendor/upload/upload-multi/js/upload-multi.js"></script>
    <!-- 上传文件 -->
    <script src="/static/admin/js/html5.js"></script>
<!-- 页面配置项 -->
<script src="/static/admin/js/config/config.js"></script>
<!-- 页面公有 -->
<script src="/static/admin/js/sdk.js"></script>
<!-- 页面私有 -->
<script type="text/javascript">
    // var id ;
    $(function(){

        // id = getPar("id");



    })


</script>


</body>
</html>
