<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Navigation</li>
            <li class="nav-item nav-dropdown open">
                <a href="#" class="nav-link nav-dropdown-toggle nav-link-one">
                    <i class="fa fa-life-bouy"></i> <span>游戏管理</span> <i class="fa fa-caret-left"></i>
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="/admin/index/index" class="nav-link nav-link-two {{if eq 0 .Index.Active}} active {{end}}">
                            <i class="fa fa-th-list"></i> <span>分发管理</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/admin/server/index" class="nav-link nav-link-two {{if eq 1 .Index.Active}} active {{end}}">
                            <i class="fa fa-codepen"></i> <span>开服管理</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/admin/gift/index" class="nav-link nav-link-two {{if eq 2 .Index.Active}} active {{end}}">
                            <i class="fa fa-gift"></i> <span>礼包管理</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/admin/tag/index" class="nav-link nav-link-two {{if eq 3 .Index.Active}} active {{end}}">
                            <i class="fa fa-slack"></i> <span>标签管理</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown {{if eq 1 .Index.Open}} open {{end}}">
                <a href="#" class="nav-link nav-dropdown-toggle nav-link-one">
                    <i class="fa fa-html5"></i> <span>网站管理</span> <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="/admin/recommend/index" class="nav-link nav-link-two {{if eq 4 .Index.Active}} active {{end}}">
                            <i class="fa fa-joomla"></i> <span>推荐管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/gamenews/index" class="nav-link nav-link-two {{if eq 5 .Index.Active}} active {{end}}">
                            <i class="fa fa-newspaper-o"></i> <span>新闻管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/links/index" class="nav-link nav-link-two {{if eq 6 .Index.Active}} active {{end}}">
                            <i class="fa fa-unlink"></i> <span>友情链接</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/website/index" class="nav-link nav-link-two {{if eq 7 .Index.Active}} active {{end}}">
                            <i class="fa fa-cog"></i> <span>网站设置</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>