<!doctype html>
<html>
<head>
<!--- The site is designed by zkx,Inc 12/2016 --->
<meta charset="utf-8">
<title>客服中心-梦想游戏-网页游戏平台</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="网页游戏，页游平台，页游，H5游戏，新开页游，页游礼包，梦想游戏平台，游戏平台">
<meta name="description" content="梦想游戏平台作为知名的高品质网页游戏平台，一直坚持为广大玩家提供优质的精品网页游戏，致力创造一流的游戏娱乐平台。">
<meta name="author" content="kxin">
<!-- 初始化样式表-->
<link href="/static/home/css/layout.css" rel="stylesheet" type="text/css">
<link href="/static/home/vender/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Swiper's CSS -->
<link rel="stylesheet" href="/static/home/vender/swiper/css/swiper.min.css">
<!-- 页面公有样式-->
<link href="/static/home/css/common.css" rel="stylesheet" type="text/css">
<!-- 页面私有样式-->
<link href="/static/home/css/service.css" rel="stylesheet" type="text/css">
<!--百度云统计代码-->
{load href="/static/home/js/tongji.js" /}
</head>
	
<body>


{include file="public/header" /}

<div class="banner_service">
	<!-- <img src="./images/default/banner_service.jpg"> -->
	<div class="cont" style="position: relative; height: 100%;">
		<dl class="service-contact">
			<dt> <em>客服热线</em> <br> (每日9：00—22：00,全年无休)</dt>
			<dd>4007-202-233</dd>
	        <dt>在线客服（全天24小时）</dt>
	        <dd class="online-btn"><a href="http://wpa.qq.com/msgrd?v=3&uin=2177909433&site=qq&menu=yes" target="_blank">
	            <span class="s-icon"></span><span>点击聊天</span>
	        </a></dd>
		</dl>
	</div>
</div>

<div class="content">
	<div class="cont">
		<div class="mod clearfix">
			<div class="service-view fl clearfix">
				<div class="channels">
					<ul class="clearfix">
						<li>
							<a href="javascript:;" class="channels-link">
								<span class="s-icon i1"></span>账号安全
							</a>
							<p>
								<a href="/User/index" target="_blank">忘记密码</a><em>|</em>
								<a href="/User/index" target="_blank">账号申诉</a><em>|</em>
								<a href="#" target="_blank">防沉迷认证</a>
							</p>
						</li>
						<li>
							<a href="javascript:;" class="channels-link">
								<span class="s-icon i2"></span>游戏异常
							</a>
							<p>
								<a href="#" target="_blank">角色异常</a><em>|</em>
								<a href="#" target="_blank">装备异常</a>
							</p>
						</li>
						<li>
							<a href="javascript:;" class="channels-link">
								<span class="s-icon i3"></span>充值问题
							</a>
							<p>
								<a href="#" target="_blank">充值未到账</a><em>|</em>
								<a href="#" target="_blank">其他充值问题</a>
							</p>
						</li>
						<li>
							<a href="javascript:;" class="channels-link">
								<span class="s-icon i4"></span>自助服务
							</a>
							<p>
								<a href="#" target="_blank">自助问题提交</a><em>|</em>
								<a href="#" target="_blank" class="hl">进度查询</a>
							</p>
						</li>
					</ul>
				</div>

				<div class="problems">
					<div class="mod-tit">
						<div class="titlename">
							<i class="icon pngfix"></i>
							<span>常见问题</span>
						</div>
						<!-- <a href="#" target="_blank" class="more fr">更多 +</a> -->
					</div>

					<div class="problems-bd">
						
					</div>
				</div>


				
			</div>

			
		</div>

	</div>	

</div>

{include file='public/footer' /}


<!-- jquery引用方式--> 
<script src="/static/home/js/jquery-1.9.1.min.js"></script>

<!-- 公共js --> 
<script src="/static/home/js/common.js"></script>
<!-- 页面私有js --> 
<script src="/static/home/js/service.js"></script>

</body>
</html>



