<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>游戏-后台管理系统</title>
    <!-- 页面公有样式 -->    
    <link rel="stylesheet" href="/static/admin/vendor/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/admin/css/styles.css">
    <link rel="stylesheet" href="/static/admin/css/sdk.css">
    <style type="text/css">
        .form-control {
            background-clip: border-box;
        }
    </style>
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">

    <!-- 头部引入 开始 -->  
    {include file="public/header" /}
    <!-- 头部引入 结束 -->

    <div class="main-container">
        <!-- 侧导航引入 开始 --> 
        {include file="public/sidebar" /}
        <!-- 侧导航引入 结束 -->

        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        
                        <div class="card-body p-0">
                            <div class="card-header bg-light">
                                添加开服表
                            </div>
                
                            <form action='/Server/serveradd' enctype="multipart/form-data" method="post">
                                <div class="row p-5">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">开服表上传</label>
                                                    <select class="form-control" name='gid'>
                                                        {foreach $gamelist as $v}
                                                        <option value="{$v.gid}">{$v.app_name}</option>
                                                        {/foreach}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">开服日期</label>
                                                    <input type="text" class="form-control" size="16" placeholder="请选择日期" name='server_date' id="datetime" readonly="readonly" style="cursor: pointer;">
                                                </div>
                                            </div>
                                        </div>    

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">区服ID</label>
                                                    <input type="text" name='sid' class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">区服名称</label>
                                                    <input type="text" name='server_name' class="form-control" id="curname">
                                                </div>
                                            </div>
                                        </div>

                                    </div>  
                                </div>

                                <div class="card-footer px-5 text-left">
                                    <button type="submit" class="btn btn-primary px-5" id="sub">确认提交</button>
                                </div>
                            </form>

                            <hr class="my-5">

                            <div class="card-header bg-light">
                                近期开服安排
                            </div>
                            
                            <div class="row p-5">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="border-0 text-uppercase small font-weight-bold">序号</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">日期</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">游戏名称</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">开服表名称</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {foreach $serverlist as $v}
                                            <tr>
                                                <td>{$v.id}</td>
                                                <td>{$v.server_date}</td>
                                                {foreach $namelist as $v1}
                                                {if condition="$v1.gid eq $v.gid"}
                                                <td>{$v1.app_name}</td>
                                                {/if}
                                                {/foreach}
                                                <td>{$v.server_name}</td>
                                                <td><a href="javascript:;" id='{$v.id}' class="text-danger serverdel">删除</a></td>
                                            </tr>
                                            <!-- <tr>
                                                <td>193</td>
                                                <td>17:51:39</td>
                                                <td>12.30~1.5H5开服表 - 神仙名单</td>
                                                <td><a href="javascript:;" class="text-danger del">删除</a></td>
                                            </tr>
                                            <tr>
                                                <td>193</td>
                                                <td>17:51:39</td>
                                                <td>12.30~1.5H5开服表 - 神仙名单</td>
                                                <td><a href="javascript:;" class="text-danger del">删除</a></td>
                                            </tr> -->
                                            {/foreach}
                                            </tbody>
                                        </table>
                                    </div>    
                                </div>
                            </div>
                            <!-- <div class="row p-5">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="border-0 text-uppercase small font-weight-bold">日期</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">时间</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">游戏名称</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">区服</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>2020-01-05</td>
                                                <td>18:00:00</td>
                                                <td>玄尘仙途</td>
                                                <td>479</td>
                                                <td><a href="javascript:;" class="text-danger del">删除</a></td>
                                            </tr>
                                            <tr>
                                                <td>2020-01-05</td>
                                                <td>18:00:00</td>
                                                <td>玄尘仙途</td>
                                                <td>479</td>
                                                <td><a href="javascript:;" class="text-danger del">删除</a></td>
                                            </tr>
                                            <tr>
                                                <td>2020-01-05</td>
                                                <td>18:00:00</td>
                                                <td>玄尘仙途</td>
                                                <td>479</td>
                                                <td><a href="javascript:;" class="text-danger del">删除</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>    
                                </div>
                            </div> -->

                            <div class="d-flex flex-row-reverse bg-dark text-white p-4"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="/static/admin/vendor/jquery/jquery-3.4.1.min.js"></script>
<script src="/static/admin/vendor/popper.js/popper.min.js"></script>
<script src="/static/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/admin/js/carbon.js"></script>
<script src="/static/admin/js/demo.js"></script>
<!-- 页面插件加载 -->
    <!-- 弹出层 -->
    <script src="/static/admin/vendor/layer/layer.js"></script>
    <script src="/static/admin/js/config/layer-config.js"></script>
    <!-- 日期选择 -->
    <script src="/static/admin/vendor/laydate/laydate.js"></script>
    <script type="text/javascript">
        $(function(){
            //执行一个laydate实例
            laydate.render({
              elem: '#datetime' ,//指定元素
              type: 'datetime',
              trigger: 'click',
              format : 'yyyy-MM-dd HH:mm:ss',
              value: new Date(),
              showBottom: true,
              btns: ['clear', 'confirm'],
              theme: '#393D49'
            });  
        })
    </script>
<!-- 页面配置项 -->
<script src="/static/admin/js/config/config.js"></script>
<!-- 页面公有 -->
<script src="/static/admin/js/sdk.js"></script>
<!-- 页面插件加载 -->
<!-- 弹出层 -->
<script src="/static/admin/vendor/layer/layer.js"></script>
<script src="/static/admin/js/config/layer-config.js"></script>
<!-- 页面私有 -->
<!-- <script type="text/javascript" src="./js/private/distribute.js"></script> -->

</body>
</html>
